---
# The Checks string is a comma-separated list of globs.
# Prefixing a glob with '-' disables those checks.
Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-braces-around-statements

WarningsAsErrors: ''
HeaderFilterRegex: ''

CheckOptions:
    readability-identifier-naming.VariableCase: camelBack